.header {
  display: flex;
  background: #3a4eff;
  color: #fff;
  padding: 10px;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 28px;
}

.links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  text-align: center;
}

.link:hover {
  color: rgb(214, 214, 214);
}
